{{#if user}}
<h2>Hello {{user.username}}</h2>
<div class="container">
    <div class="row">
        {{#each companies}}
            <div class="card text-center m-5 w-100" id="actionsCard">
                <canvas id="my-chart-{{symbolName}}"></canvas>
                <div class="card-body">
                    <span class="card-title">{{name}}</span><span> | </span>
                    <span class="symbolName">{{symbolName}}</span>
                    <a href="/delete/{{name}}" class="btn btn-danger text-white mx-3">Delete</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>
{{else}}
<h3>Get logged in to see your actions !</h3>
{{/if}}